
body {
	font-family: "Arial", Arial, Sans-serif;
	margin: 0px;
}

#header {
	height: 100px;
	background-color: black;
	font-weight: bold;
	color: white;
	padding: 5px;
}

.pagetitleGrid {
	width: 500px;
	float: left;
}

.loginGrid {
	text-align: right;
	align: right;
	float: right;
}

.languageSelector {
	margin: 2px;
	height: 38px;
	background-color: #303030;
}

#userText {
	font-size: 20px;
	font-weight: bold;
	color: #00FF00;
}

.pageTitle {
	font-size: 42px;
	text-decoration: none;
	color: white;
}

#top {
	background-color: #E6E6E6;
	color: black; 
}

#content {
	min-height: 700px;
	background-image: url('images/contentbg.png');
	background-repeat: repeat-x;
	color: black;
	padding-top: 20px;
}

.linkForm {
	padding-left: 10px;
}

.linkGrid {
	background-image: url('images/linkbg.png');
	width: 600px;
	height: 170px;
	border: none;
	text-align: left;
	color: white;
	padding: 5px;
}

.linkGrid td {
	border: none !important;
}

.linkTitle {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #00FF00;
}

.linksubmitGrid {
	padding: 5px;
}

#linksubmitTitle {
	font-size: 20px;
	font-weight: bold;
}

#linksubmitSub {
	font-weight: bold;
}

#regtitle {
	font-size: 20px;
	font-weight: bold;
}

.regGrid {
	padding: 5px;
}

#regsub {
	font-weight: bold;
}

.commentcreationGrid {
	padding: 5px;
}

.linkComments {
	color: white;
}

.commentForm {
	padding-top: 20px;
	padding-left: 20px;
}

.commentGrid {
	background-image: url('images/commentbg.png');
	width: 500px;
	height: 170px;
	border: none;
	color: white;
	padding: 5px;
}

.commentGrid td {
	border: none !important;
}

.commentText {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.commentReply {
	color: white;
}

#title {
	font-weight: bold;
}

.voteUp {
	background: url('images/upbtn.png');
	width: 40px;
	height: 40px;
	border: none;
}

.voteDown {
	background: url('images/downbtn.png');
	width: 40px;
	height: 40px;
	border: none;
}
